body{
  background-color: #fcf0e0;
}

.ant-layout-header {
  background-color: #33595e !important; /* Green background for the navbar */
}

/* Menu background color */
.ant-menu {
  background-color: #33595e !important; /* Green background for the menu */
}

/* Menu item text color */
.ant-menu-item {
  color: white !important; /* White text color */
}

/* Menu item hover color */
.ant-menu-item:hover {
  background-color: #373b41 !important; /* Light blue hover color */
}

/* Active menu item color */
.ant-menu-item-active {
   background-color: #373b41 !important; /* Light blue active item color */
}

.ant-menu-item-selected {
  background-color: #373b41 !important; /* Desired active item color */
  color: white !important; 
}

.card-hover{
  background-color: #373b41;
}

.card-hover:hover{
  transform: scale(1.05) !important;
  box-shadow: 0 7px 13px black !important;
}

.style-modal .ant-modal-content {
  background-color: #373b41; 
  color: #fbf1dc !important;
}

.style-modal .ant-modal-header {
  background-color: #373b41;
}

.style-modal .ant-modal-title {
  color: #fbf1dc;
}

.style-modal .cmodal-p {
  color: #fbf1dc !important;
}
